<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/posts">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Blog App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/create-post">Create Post</button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"  color="primary" routerLink="/create-post">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>
 