<mat-toolbar color="primary">
  <!-- Menu Icon -->
  <button mat-icon-button aria-label="Menu button">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Application Title -->
  <span>My App</span>

  <!-- Spacer to push items to the right -->
  <span class="spacer"></span>

  <!-- Create New Post Button -->
  <button mat-button color="accent" routerLink="/create-post">
    Create New Post
  </button>

  <!-- Search Icon -->
  <button mat-icon-button aria-label="Search">
    <mat-icon>search</mat-icon>
  </button>

  <!-- Favorite Icon -->
  <button mat-icon-button aria-label="Favorite">
    <mat-icon>favorite</mat-icon>
  </button>

  <!-- Share Icon -->
  <button mat-icon-button aria-label="Share">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>